# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
.venv/
venv/
.ruff_cache/
.env
# Django
db.sqlite3
media/

# Node/Front-end
node_modules/

# Git
.git/
.gitignore

# OS/editor
.DS_Store
.idea/
.vscode/
*.swp